[init]
	defaultBranch = master
[diff]
  tool = difftastic
[difftool]
  prompt = false
[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[core]
	pager = less -F -X
	excludesFile = ~/.gitignore
[alias]
	dt = difftool
	bb = !better-git-branch.sh
[include] # Not in repo
    path= ~/.gitconfig_local
[commit] # Show diff in commit message
	verbose = true
[url "git@github.com:"] # So good
	insteadOf = https://github.com/
; [includeIf "gitdir:~/work/"]
;     path = ~/work/.gitconfig
